@font-face {
  font-family: "GE Dinar One";
  src: url("http://oldmap.blessedegypt.com/css/fonts/GEDinarOne-Medium.woff2")
      format("woff2"),
    url("http://oldmap.blessedegypt.com/css/fonts/GEDinarOne-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*{
    font-family:'GE Dinar One'!important;
}
.time-line .time {
  height: 940px !important;
  overflow: auto !important;
}
.time-line .layers {
  max-height: 500px !important;
  overflow: auto !important;
}
.time-line td:not(.city) {
  display: none;
}
.carousel.slide.slider-text .carousel-indicators li {
  background: none !important;
}
#popup .carousel-control-prev {
  left: 0;
}
#popup .carousel-control-next {
  right: 0;
}
#wowslider-container1 img {
  width: 100% !important;
  height: 100% !important;
}
.gm-style .gm-style-iw-c {
  top: 115px !important;
  background: rgba(200, 200, 200, 0.3) !important;
}
.dropdown-menu .dropdown-item img {
  margin-top: -5px !important;
}
/*.row.kals-arrows,.row.dakados-arrows,.row.mostord-arrows,.row.mataria-arrows,.row.alsherif-arrows{*/
/*    visibility: hidden !important;*/
/*}*/
#carouselExampleIndicators2 .carousel-caption {
  position: relative !important;
  left: 0px !important;
  text-align: center !important;
  text-align: -webkit-center !important;
}
#carouselExampleIndicators2 .carousel-caption p {
  color: #544435 !important;
  background-color: transparent !important;
}
div#carouselExampleIndicators2 .carousel-control-prev {
  top: -70px;
}

div#carouselExampleIndicators2 .carousel-control-next {
  top: -70px;
}
@media (max-width: 600px) {
  div#carouselExampleIndicators2 .carousel-caption {
    bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
/*new arrows styling*/
@media (min-width: 768px) {
  img.arowk27.animate__animated.animate__pulse.animate__infinite {
    position: relative !important;
    top: 329px !important;
    height: 48px !important;
    left: -4px !important;
  }

  img.arowk21.animate__animated.animate__pulse.animate__infinite {
    position: relative !important;
    top: 128px !important;
    left: 104px !important;
    height: 105px !important;
  }
  img.arowk5.animate__animated.animate__pulse.animate__infinite {
    position: relative;
    width: 100px !important;
    top: 271px !important;
    left: -200px !important;
  }
  img.arowk16.animate__animated.animate__pulse.animate__infinite {
    position: relative;
    height: 18px !important;
    top: -166px !important;
    left: -239px !important;
  }
  img.arowk15.animate__animated.animate__pulse.animate__infinite {
    position: relative;
    width: 243px !important;
    top: 74px !important;
    left: -119px !important;
  }
  img.arowk20.animate__animated.animate__pulse.animate__infinite {
    position: relative;
    width: 45px !important;
    top: -38px !important;
    left: 377px !important;
  }
  img.ar112-desc.animate__animated.animate__pulse.animate__infinite {
    width: 325px !important;
    top: 193px !important;
    left: 299px !important;
  }
}
img.arowk23.animate__animated.animate__pulse.animate__infinite,
img.arowk18.animate__animated.animate__pulse.animate__infinite,
img.arowk7.animate__animated.animate__pulse.animate__infinite,
img.arowk8.animate__animated.animate__pulse.animate__infinite,
img.arowk25.animate__animated.animate__pulse.animate__infinite {
  visibility: hidden !important ;
}
